# Node.js
node_modules/

# Logs
logs/
*.log

# Expo
.expo
__generated__

# Build folders
ios/Pods
ios/build
ios/DerivedData
android/.gradle
android/app/build

# Dependency directories
.venv
npm-debug.log

# macOS
.DS_Store

# Temporary files
*.swp

# Environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local